.typeproduct
{
    padding: 10px 10px;
}
.typeproduct img
{

  height: 220px;
  width: 200px;

    margin-top:73px;
}
.typeproduct h1
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}



.btn-danger {
  color: #fff;
  background-color: #ec7344;
  border-color:#fff;
}

.btn-success{
  color: #fff;
  background-color: rgb(44, 36, 36);
  border-color: #fff;

}

